################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Documents/~$PPTS.docx
/PlatformService/.vs/PlatformService
/PlatformService/obj
/PlatformService/bin
/PlatformService/.vs/ProjectEvaluation
/CommandsService/.vs/CommandsService
/CommandsService/bin/Debug/net8.0
/CommandsService/obj
