################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Documents/~$PPTS.docx
/PlatformService/.vs/PlatformService
/PlatformService/obj
/PlatformService/bin
